body {
    background-color: darkcyan;
    color: ivory;
}
h1 {
    text-align: center;
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 30px;
}

ul {
    font-size: 30px;
}

ol {
    font-size: 30px;
}

nav li {
    float: left;
    display: block;  


}

nav a {

    font-size: 30px;
    background-color: ivory;
    display: inline;
    padding: 20px;  
    color: black;
    text-decoration: none;
}

nav a:hover {
    background-color: palevioletred;
}

section {
    display: flex;
}

aside {
    flex: 1
}

article {
    flex: 4
}